<div id="<%= dom_id link %>">
  <p>
    <strong>Title:</strong>
    <%= link.title %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= link.source %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= link.views %>
  </p>

  <p>
    <strong>Page:</strong>
    <%= link.page_id %>
  </p>

</div>
