<p style="color: green"><%= notice %></p>

<%= render @link %>

<div>
  <%= link_to "Edit this link", edit_page_link_path(@page.id, @link.id) %> |
  <%= link_to "Back to links", page_links_path(@page.id) %>

  <%= button_to "Destroy this link", page_link_path(@page.id, @link.id), method: :delete %>
</div>
