<!DOCTYPE html>
<html>
  <head>
    <title>Treelink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div><%= notice %></div>
    <div><%= alert %></div>
    
    <% if user_signed_in? %>
      <%= link_to 'Modifier mon mot de passe', edit_password_path %>
      <%= button_to 'Déconnexion', session_path, method: :delete %>
    <% else %>
      <%= link_to 'Inscription', new_registration_path %>
      <%= link_to 'Connexion', new_session_path %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
